In [1]:
tupla_numeros = (10,20,30)
print(tupla_numeros)

(10, 20, 30)

In [4]:
tupla_nova = 10, 20, 30
print(tupla_nova)

(10, 20, 30)

In [5]:
tupla_elemento = 10
print(tupla_elemento)

10

In [6]:
nova_tupla = tuple ('teste')
print (nova_tupla)

('t', 'e', 's', 't', 'e')

In [7]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
tupla_nomes.count ('Marlene')
print (tupla_nomes.count ('Suely'))
print (tupla_nomes.count ('Zezinho'))

0
1

In [10]:
new_tupla = ('1', '2', '2', '3', '4', '4', '4', '5')
print (new_tupla.count ('4'))

3

In [11]:
dicio = {'chave': 'valor'}
print (type(dicio))

<class 'dict'>

In [12]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}
d['bananas']

35

In [13]:
d['pitomba'] = 20
len(d)

4

In [14]:
d

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12, 'pitomba': 20}

In [15]:
'pitomba' in d

True

In [18]:
'pears' in d

False

In [19]:
del d['laranjas']
'laranjas' in d

False

In [21]:
frutas = ['pinha', 'oiti coró', 'jaca', 'tamarindo']
print ([1,2] + [3,4])
print (frutas + [6,7,8,9])

print ([0] * 4)
print ([1,2, ['oi', 'tchau']]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]